{% extends 'inc/base.html' %}

{% block title %}Ask question{% endblock title %}

{% block navbar %}
{% include 'inc/navbar.html' %}
{% endblock navbar %}

{% block name %}
<span class="Questions">
    <h2 class="new-question">New Questions</h2>
</span>
{% endblock name %}

{% block content %}
<form>
<div class="form-group row new-quesion-inputs">
    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Title</label>
    <div class="col-sm-10">
      <input type="email" class="form-control form-control-lg" id="colFormLabelLg" placeholder="Write question title..">
    </div>
  </div>
  <div class="form-group row new-quesion-inputs">
    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Text</label>
    <div class="col-sm-10">
      <input type="email" class="form-control form-control-lg" id="colFormLabelLg" placeholder="Write your quesion.." style="height: 400px;">
    </div>
  </div>
<div class="form-group row new-quesion-inputs">
  <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Tags</label>
  <div class="col-sm-10">
    <input type="email" class="form-control form-control-lg" id="colFormLabelLg" placeholder="Add some tags..">
  </div>
</div>
</form>
<button type="button" class="btn btn-dark button-ask" style="width: 100px">ASK!</button>
{% endblock content %}