{% extends 'inc/base.html' %}

{% load static %}

{% block title %}Question page{% endblock title %}

{% block navbar %}
{% if user.is_authenticated %}
    {% include 'inc/logged_navbar.html' %}
{% else %}
    {% include 'inc/navbar.html' %}
{% endif %}
{% endblock navbar %}

{% block content %}

{% include 'inc/question.html' %}
{% for answer in answers.all %}
    {% include 'inc/answer.html' %}
{% endfor %}

{% load crispy_forms_tags %}

<hr style="margin-top: 30px"/>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div class="form-group row">
    <div class="col-sm-12">
<!--        <textarea type="text" class="form-control form-control-lg textarea" id="colFormLabelLg"-->
<!--        placeholder="Enter your answer here.." style="height: 120px;margin-left: 11px;"></textarea>-->
        {{ form.text|as_crispy_field }}
    </div>
</div>
<button type="submit" class="btn btn-dark button-answer" style="width: 100px">Answer</button>
</form>

{% include 'inc/paginator.html' %}

{% endblock content %}

{% block jscode %}
    <script src="{% static '/js/like.js' %}"></script>
    <script src="{% static '/js/is_correct.js' %}"></script>
{% endblock jscode %}