{% extends 'inc/base.html' %}

{% block title %}Question page{% endblock title %}

{% block navbar %}
{% include 'inc/logged_navbar.html' %}
{% endblock navbar %}

{% block content %}

{% include 'inc/question.html' %}
{% for answer in answers %}
    {% include 'inc/answer.html' %}
{% endfor %}

<hr style="margin-top: 30px"/>
    <div class="form-group row">
        <div class="col-sm-12">
            <textarea type="text" class="form-control form-control-lg textarea" id="colFormLabelLg"
            placeholder="Enter your answer here.." style="height: 120px;margin-left: 11px;"></textarea>
        </div>
    </div>
<button type="button" class="btn btn-dark button-answer" style="width: 100px">Answer</button>

{% include 'inc/paginator.html' %}

{% endblock content %}