{% extends 'inc/base.html' %}

{% block title %}Question and Answers{% endblock title %}

{% block navbar %}
{% include 'inc/logged_navbar.html' %}
{% endblock navbar %}

{% block name %}
<span class="Questions">
    <h2 class="new-question">New Questions</h2>
    <a href="#"><u><p class="hot-question" href="#" >Hot Questions</p></u></a>
</span>
{% endblock name %}

{% block content %}

{% include 'inc/one_question.html' %}
{% include 'inc/one_question.html' %}
{% include 'inc/one_question.html' %}
{% include 'inc/paginator.html' %}

{% endblock content %}