{% load static %}

<div class="row question-box">
    <div class="col-3">
        <div class="img-rating">
            <img class="question-img" src="{% static "img/grapefruit-slice-332-332.jpg" %}" height="170px"></img>
            <input class="like" type="number" value="3" size="50px">
        </div>
    </div>
    <div class="col-9">
        <div class="row">
            <div class="question-text"  style="
            margin-right: 200px;">{{  answer.text }}
            </div>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Correct!</label>
        </div>
    </div>
</div>