{% load static %}

<div class="row question-box">
    <div class="col-3">
        <div class="img-rating">
            <img class="question-img" src={{ answer.Author.img }} height="170px" width="170px"></img>
<!--            <input class="like" type="number" value={{  answer.likes }} size="50px">-->
            <div class='like'>
              <button class='like-toggle basic'>♥</button>
                <p class="number-of-likes">{{ answer.likes }}</p>
<!--              <span class='hidden' >1 Like</span>-->
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="row">
            <div class="question-text"  style="
            margin-right: 200px;">{{  answer.text }}
            </div>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="customCheck1">
            <label class="label">Correct!</label>
        </div>
    </div>
</div>