{% load static %}

<nav class="navbar navbar-dark bg-dark">
    <a href="{% url "main-page" %}" class="navbar-brand">Questions and Answers</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="
        width: 500px;">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ASK!</button>
    </form>
    <div class="profile">
        <img class="profile-img" src="{{ request.user.profile.avatar.url }}" class="avatar-img rounded">
        <span class="profile-links">
            <p>{{ request.user.username }}</p>
            <a href="{% url "settings" %}" class="settings">settings</a>
            <a href="{% url "logout" %}" class="settings">log out</a>
        </span>
    </div>
</nav>