{% load static %}

<div class="row question-box">
    <div class="col-3">
        <div class="img-rating">
            <img class="question-img" src="{{ question.Author.user.profile.avatar.url }}" height="170px" width="170px"></img>
<!--            <input class="like" type="number" value={{ question.likes }} size="50px">-->
            <div class='like'>
              <button class='like-toggle basic js-like' data-qid="{{ question.pk }}">♥</button>
                <p class="number-of-likes" id="questions_likes-{{ question.pk }}">{{ question.likes }}</p>
<!--              <span class='hidden' >1 Like</span>-->
            </div>
<!--            <button type="submit" class="like" name="blogpost_id" value={{ question.likes }} class="btn btn-info">Like</button>-->
<!--            <p class="like">{{ question.likes }}</p>-->
        </div>
    </div>
    <div class="col-9">
        <div class="row title_and_text " style="display: inline-block">
            <h2 class="question-title" style="margin-left: 10px">{{ question.title }}</h2>
            <div class="question-text"  style="
            margin-right: 200px;">{{  question.text }}
            </div>
        </div>
        <div class="row tag" style="margin-top: 60px">
            <span class="answers-tags">
                <a href="{% url 'one-question-page' question.id %}"><h3>answers ({{ question.answers_count }}) </h3></a>
                <h3 style="margin-left: 40px;">Tags:</h3>
                {% for tag_ in question.tags.all %}
                  <a href="{% url 'question-by-teg' tag_ %}"><p> {{ tag_ }} </p></a>
                {% endfor %}
            </span>
        </div>
    </div>
</div>

