{% load static %}

<div class="row question-box">
    <div class="col-3">
        <div class="img-rating">
            <img class="question-img" src="{% static "img/grapefruit-slice-332-332.jpg" %}" height="170px"></img>
            <input class="like" type="number" value="2" size="50px">
        </div>
    </div>
    <div class="col-9">
        <div class="row">
            <h2 class="question-title" style="margin-left: 10px">Some Question?</h2>
            <div class="question-text"  style="
            margin-right: 200px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Officiis, modi maiores dolores blanditiis voluptatum rerum,
                assumenda tempore laborum odio quia dolorum
                soluta illo quae reiciendis eligendi ratione ab recusandae debitis!
            </div>
        </div>
        <div class="row tag" style="margin-top: 70px">
            <span class="answers-tags">
                <a href="#"><h3>answer(3)</h3></a>
                <h3 style="margin-left: 40px;">Tags:</h3>
                <a href="#"><p>some tag1</p></a>
                <a href="#"><p>some tag2</p></a>
            </span>
        </div>
    </div>
</div>